<h2>List of Devices configured through Whisper</h2> 
<ul class="devicelist">
  <% @devices.each do |f| %>
    <li>
      <strong><%= link_to f.name, device_path(f) %></strong><br />
      <%= link_to 'Turn on', on_device_path(f), :class => "switch on", :id => f.id %><br />
      <%= link_to 'Turn off', off_device_path(f), :class => "switch off", :id => f.id %><br />
    </li>
    <div class="viewport">
      <!-- <div class="dial on <% if f.state == "off" %>switched<% end %>"><p>on</p></div> -->
      <!-- <div class="dial off <% if f.state == "on" %>switched<% end %>"><p>off</p></div> -->
      <p class="<%= f.id %>state">on</p>
    </div>
    <div class="frame"></div>
  <% end %>
</ul><br />
<%= link_to 'writeconfig', writeconfig_devices_path %><br />