<ul class="boxlist">
  <% i = 0 %>
  <% @devices.each do |f| %>
    <li class="box" id="<%= f.id %>">
      <div class="boxheader">
        <h1><a href="#" title="nil" class="devicetitle"><%= f.name %></a></h1>
        <p class="location"><%= f.location %></p>
      </div>
      <div class="boxslideout">
        <div class="deviceoptions">
          <%= link_to "Learn", "#", :class => "button learn" %>
          <%= link_to "Edit", edit_device_path(f), :class => "button edit" %>
          <%= link_to "Delete", f, :method => :delete, :confirm => 'Are you sure?', :class => "button delete" %>
        </div>
      </div>
      <%= link_to 'On', "#", :class => "switch on", :id => f.id %>
      <%= link_to 'Off', "#", :class => "switch off", :id => f.id %>
    </li>
    <% i = i + 1; if i == 3 %>
    <% i = 0 %>
      <div class="clear"></div>
    <% end %>
  <% end %>

  <li class="box device">
    <div class="boxheader">  
      <h1 class="new"><%= link_to 'Create new device', new_device_path, :id => 'last' %></h1>
      
    </div>
  </li>


</ul>
