
<%= form_for([@remote_switch]) do |f| %>
<div class="field">
  <%= f.label "Name" %><br />
  <%= f.text_field :label %>
</div>
<div class="field">
  <%= f.label "Location" %><br />
  <%= f.text_field :location %>
</div>
<div class="field">
  <%= f.label "Kind" %><br />
  <%= f.text_field :kind %>
</div>
<div class="field">
  <%= f.submit %>
</div>
<% end %>