<%= link_to 'New event', new_event_path  %>
<% @events.each do |event| %>
  <h2><%= event.device.name %></h2>
  <p>Scheduled on <%= event.scheduled_days.join(", ") %></p>
  <p>Scheduled at <%= event.time %></p>
  <p>State: <%= event.on? ? "On" : "Off" %></p>
  <p>Next run at: <%= event.next_run_at %></p>
  <p>--- --- --- ---</p>
  Delete: <%= link_to "Delete", event, :method => :delete %>
  <br />
  <br />
  <br />
<% end %>