<ul class="boxlist">
  <% @events.each do |event| %>
    <li class="box schedule">
      <div class="boxheader">
        <h1><%= event.device.name %></h1>
      </div>
      <p>Scheduled on <%= event.scheduled_days.join(", ") %></p>
      <p>Scheduled at <%= event.time %></p>
      <p>Scheduled to switch device <%= event.on? ? "on" : "off" %></p>
      <p>Next run will be at: <%= event.next_run_at[0..-11] %></p>
      <p><%= link_to "Delete scheduled event", event, :method => :delete %></p>
    </li>
  <% end %>
  <li class="box schedule">
    <div class="boxheader">  
      <h1 class="new"><%= link_to 'New event...', new_event_path  %></h1>
    </div>
  </li>
</ul>